<div class="shell">
  <a class="skip-link" href="#content">{{ 'a11y.skipToContent' | transloco }}</a>
  <app-header [menuOpen]="drawerOpen()" (menuToggle)="toggleDrawer()"></app-header>
  <div class="body" [class.drawer-open]="drawerOpen()">
    <div class="scrim" aria-hidden="true" (click)="closeDrawer()"></div>
    <app-sidebar [class.open]="drawerOpen()"></app-sidebar>
    <main id="content" class="content" tabindex="-1" #content>
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-toast-container></app-toast-container>
</div>
